<form [formGroup]="productForm" (ngSubmit)="onHandleSubmit()">
    <div class="mb-3">
        <input type="text" formControlName="name" name="name" class="form-control" placeholder="Tên sản phẩm" />
    </div>
    <div class="mb-3">
        <input type="number" formControlName="price" name="price" class="form-control" placeholder="Giá sản phẩm" />
    </div>
    <div class="mb-3">
        <input type="text" formControlName="image" name="image" class="form-control" placeholder="Ảnh sản phẩm" />
    </div>
    <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary">Cập nhật sản
        phẩm</button>
</form>