<div class="min-h-screen body-font text-gray-600">
    <div class="container mx-auto px-5 py-10">
      <div class="-m-4 flex flex-wrap">
        <div class="w-full p-4 md:w-1/2 lg:w-1/4" *ngFor="let product of products; index as i">
          <div class="relative block h-48 overflow-hidden rounded">
            <img alt="ecommerce" class="block h-full w-full object-cover object-center cursor-pointer" [src]="product.image" />
          </div>
          <div class="mt-4">
            <h3 class="title-font mb-1 text-xs tracking-widest text-gray-500">  <a [routerLink]="['/product', product._id]"
                class="uppercase hover:text-indigo-600">{{ product.name }}</a>
            </h3>
         
            <p class="mt-1">{{ product.price }}</p>
            <form>
            
        
              <button class="bg-indigo-500 text-white px-4 py-2 rounded-lg mt-4 hover:bg-indigo-600">
                Mua ngay
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>