
<div class="container">
    <table class="table table-borederd">
        <thead>
            <tr>
                <th>#</th>
                <th>Ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="products && products.length">

            <tr *ngFor="let product of products; index as i">
                <td>{{ i + 1 }}</td>
                <td><img src="{{ product.img }}" /></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <button class="btn btn-danger mr-1" (click)="removeItem(product._id)">
                        Xóa
                    </button>
                    <!-- <a routerLink="/admin/product/{{ product._id }}/edit">Cập nhật</a> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>