<form class="max-w-md mx-auto py-4 px-8 bg-white shadow-lg rounded-lg mt-5" [formGroup]="formLogin"
    (ngSubmit)="onHandleSubmit()">
    <h2 class="text-3xl font-bold text-gray-800 mb-2 text-center">Đăng nhập</h2>

    <!-- Email -->
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="email">
            Email
        </label>
        <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" name="email" type="email" formControlName="email">
        <div *ngIf="
            formLogin.get('email')?.hasError('required') &&
            (formLogin.get('email')?.touched || formLogin.get('email')?.dirty)" class="text-red-600">
            Email không được để trống!</div>
        <div *ngIf="
            formLogin.get('email')?.hasError('email') &&
            (formLogin.get('email')?.touched || formLogin.get('email')?.dirty)" class="text-red-600">
            Email không đúng định dạng!</div>
    </div>

    <!-- Mật khẩu -->
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="password">
            Mật khẩu
        </label>
        <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password" name="password" type="password" formControlName="password">
        <div *ngIf="
            formLogin.get('password')?.hasError('required') &&
            (formLogin.get('password')?.touched || formLogin.get('password')?.dirty)" class="text-red-600">
            Mật khẩu không được để trống!
        </div>
    </div>

    <!-- Button Đăng nhập -->
    <div class="flex items-center justify-between">
        <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Đăng nhập
        </button>
    </div>
</form>